{%load static%}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="{%  static  'css/style.css'  %}" rel="stylesheet">
  <link rel="icon" href="{%  static  'images/govt-logo.png'  %}">

  <title>Competency Mapping and Training Portal | LSGD Kerala</title>
</head>

<body>
  <div class="page-container">
    <nav class="navbar navbar-dark fixed-top" style="height: 70px;">
      <a class="navbar-brand logo-image logo-text logo-pad" href="login.html">
        <img src="{%  static  'images/govt-logo.png'  %}"> <span>LSGD Kerala Hackthon</span>
      </a>
    </nav>


    <header id="header" class="header">
      <div class="header-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5 header-text header-text-pad">
              <div class="col-lg-11">
                <h3 class="turquoise">Competency Mapping and<br>Training Portal</h3>


                <form method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Keep me logged in</label>
                  </div>
                  <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary login-btn">Login</button>
                  </div>
  
                </form>

                <div>
                  {% for message in messages %}
                  <h6>
                      {{message}}
                  </h6>
                  {% endfor %}
              </div>

              
              </div>

            </div>

            <div class="col-lg-6 header-img">
              <img class="img-fluid header-img-style" src="{% static 'images/header-teamwork.svg' %}" width="85%" height="85%">
            </div>
          </div>
        </div>
      </div>
    </header>

    <footer id="footer" style="position: absolute; bottom: 0; width: 100%;">


      <div class="container">
        <div class="copyright">
          <p class="centered"><i class="far fa-copyright"></i> Local Self Government Department, Government of Kerala
          </p>
        </div>
      </div>
    </footer>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script>
    $(window).scroll(function () {
      if ($(window).scrollTop() >= 10) {
        $('.navbar').css('background', '#f8f9fa');
        $('.navbar').css('opacity', '0.95');
      } else {
        $('.navbar').css('background', 'transparent');
      }
    });
  </script>
</body>

</html>